<!DOCTYPE html>
<html><head>
    <title>About Us</title>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' href="/css/style.css">
    <script src="/js/app.js"></script>
<body>
    <div class="main-content">
    {{>header}}
    
    <img class="portrait"src="/img/freeshipping.jpg">
   </div>
    {{>footer}}
</head>
</body></html>